.head-container {
  /*background-image: url("/images1/bgk-header.png");*/
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background-image: url("/images1/bgk-header.png");
  color: #fafafb;
  width: 100%;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
header h1 {
  color: #61cdc4;
}
span {
  color: #61cdc4;
}
nav li {
  display: inline-block;
  margin: 10px 20px;
  font-weight: 600;
}
.Header-main {
  width: 80%;
  display: flex;
  background-image: url("/images1/bgk-header.png");
  padding: 235px 235px;
  background-size: cover;
}
.header-content {
  width: 50%;
  color: #fafafb;
  margin: auto;
  text-align: center;
  justify-content: center;
}
.content p {
  color: #fafafb;
}
button {
  display: flex;
  justify-content: center;
  padding: 15px 30px;
  background: transparent;
  color: #61cdc4;
  align-self: center;
  border-color: #61cdc4;
  margin: auto;
}
.story-main {
  width: 20%;
  margin: auto;
  text-align: center;
  justify-content: center;
  display: flex;
}
.story-content {
  width: 50%;
  text-align: center;
  justify-content: center;
}
/*.story-container {
  width: 50%;
  display: flex;
}*/
